/*--------------------------------------------------------------
# Bread
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
.dataTables_wrapper {
  max-width: 900px;
  margin: 70px auto;
  padding: 20px;
  background-color:#f3f5fa; 
  /* border: #37517e solid; */
}


/* .myLink{
  color:#37517e;
} */



/* @media (max-width: 768px) {
  .myLink {
    max-width: 40%;
} */

